<footer class="footer">
    <div class="container footer-container">
        <div class="footer-wrapper">
        <a class="footer-logo" href="./#home">
            <img src="/img/footer/logo.png" alt="logo" loading="lazy">
        </a>
        <ul class="footer-navigation">
            <li class="footer-link ">
                <a class="footer-underline" href="privacy.html">Privacy Policy</a>
            </li>
            <li class="footer-link">
                <a class="footer-underline" href="terms.html">Terms and Conditions</a>
            </li>
        </ul></div>
        <div class="footer-text-wrapper">
        <p class="footer-text">All rights reserved brandharbor.space | 2026 </p>
        <div class="dot-container">
            <img src="/img/home/dot.png" alt="dot" loading="lazy">
            <p>CONNECTION_SECURE</p>
        </div>
    </div>
    </div>
</footer>